
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
  }
  

  * {
    margin: 0;
    padding: 0;
  }
  

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  


  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  

  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  

  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  

  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* nav */
  
  .nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: brown;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  .nav .logo img{
    width: 90px;
    height: 90px;
    margin-left: 50%;
    background-color: white;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color: black;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
}

  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }

  .welcome-section > h1 {
    margin-top: 8%;
  }

  fieldset {
    background-color: white;
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;;
  }

input {
  Max-width: 275px;
  Width: 100%;
  Padding: 5px;
}

#email {
  margin-bottom: 2%;
}

.sign {
  margin-top: 5%;
  Font-size: 80%;
  color: black;
  margin-right: 30%;
}
.sign > a {
  Color: blue;
  text-align: center;
}

input[type='submit'] {
  Max-width: 150px;
  Width: 100%;
  Height: 30px;
  Border: 0;
  Background-color: #f1c40f;
  margin-left: 20%;
}

input[type='submit']:hover {
  Background-color: orange;
  Transition: background-color 1s;
  cursor: hand;
   }

  .welcome-section > p {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: var(--main-red);
  }
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div > h3 {
    color: black;
    margin-bottom: 1%;
  }

  #ads {
    width: 100%;
    height: 60vh;
    background-color: burlywood;
}

.ads {
  max-width: 560px;
  justify-items: center;
}


  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
    align-items: center;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }

  #see {
    color: red;
    text-decoration: underline;
    
  }

 .projects-section > p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
  }

  .projects-section > h2 {
    text-align: justify;
    margin-left: 10%;
    color: #f1c40f;
  }

  .projects-section > img {
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 1.5%;
  }

  #products {
    text-align: center;
    padding: 10rem 2rem;
    align-items: center;
    background-color: gray; 
  }

  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pricing {
    Text-align: center;
    Margin-bottom: 0%;
  }
  hr {
    padding: 1;
    background: gray;
  }
  
  #Product {
    Margin-top: 60px;
    Display: flex;
    Flex-direction: row;
    Justify-content: center;
  }
  
  .product {
    Display: flex;
    Flex-direction: column;
    Align-items: center;
    Text-align: center;
    Width: calc(200% / 4);
    Margin: 10px;
    Border: 1px solid #000;
    Border-radius: 3px;
  }
  
  .product > .level {
    Background-color: #ddd;
    Color: black;
    Padding: 15px 0;
    Width: 100%;
    Text-transform: uppercase;
    Font-weight: 700;
    font-size: 20px;
  }
  
  .pricing > h2 {
    Margin-top: 15px;
    color: black;
  }

  .product > h2 {
    color: black;
  }
  
  .product > ol > li {
    Padding: 5px 0;
  }
  
  .product > button {
    Border: 0;
    Margin: 15px 0;
    Background-color: #f1c40f;
    Font-weight: 400;
    width: 30%;
  }
  
  .product > button:hover {
    Background-color: orange;
    Transition: background-color 1s;
    cursor: hand;
    font-weight: bold;
  }
  
  @media (max-width: 800px) {
    #Product {
      Flex-direction: column;
    }
    .product {
      Max-width: 300px;
      Width: 100%;
      Margin: 0 auto;
      Margin-bottom: 10px;
    }
  }

  #Product > button {
    height: 50%;
    width: 50%;
  }

  .img {
    height: 100%;
    width: 100%;
  }

  #print {
    color: blue;
    font-style: italic;
  }

  #print:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  #class {
    font-size: 40px;
    background-color: darkred;
    margin-bottom: 2%;
    width: 90%;
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }

  .enroll {
    font-size: 20px;
    background-color: indigo;
    width: 40%;
  }

  .enroll:hover {
    color: blue;
    font-weight: light;
    background-color: burlywood;
  }  

  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }

